.toplayer {
    display:flex;
    flex-direction:column;
    margin:0px 250px;
}
.top1 {
    display:flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

.top2 {
    display:flex;
    flex-direction:row;
    gap: 15px;
}

.top3 {
    display:flex;
    flex-direction:row;
    justify-content:space-between;

}

.top4 {
    display:flex;
    flex-direction:column;
}

.secondlayer {
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin:100px 200px;
}

.images {
    display: flex;
    text-align: center;
    justify-content: space-between;
    gap:100px;
   

.img1 .img2 .img3 .img4 {
    display:flex;
    flex-direction: column;
    flex-wrap:wrap;
}